*{
    margin: 0px;
    padding: 0px;
}

body {
background: rgb(17, 99, 206);
color: #fff;
}

#contenedor {
    width: 1300px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 200px;
    border-radius:200px;
 
}

header{
    height: 110px;
    background: #000;
}

header h1{
    font-size: 50px;
    text-align: center;
    line-height: 120px;
    margin-top: 10px;
}

nav{
    background: yellow;
    height: 60px;
}

nav h2{
    font-size: 30px;
    text-align: center;
    line-height: 60px;
    color: blueviolet;
}

#Contenido{
    width: 1300px;
    height: 500px;
    float: left;
    background: white;
}

#Contenido p{
    font-size: 15px;
    text-align: justify;
    line-height: 20px;
    color: #000;
    margin-top: 30px;
    margin-left: 05px;
    margin-right: 05px;
}

aside{
    width: 250px;
    height: 400px;
    background: rgb(8, 235, 8);
    float: right;
    width: 250px;
}

aside h2{
    font-size: 20px;
    text-align: justify;
    line-height: 120px; 
    color:rgb(17, 17, 17);
    margin-top: 20px;
    width: 60px;
}

aside p{
    font-size: 20px;
    text-align: center;
    line-height: 15px;
    color: black;
    margin-left: 15px;
    margin-right: 15px;
}

footer h2{
    background: #000;
    clear: both;
    height: 30px;
}

footer h2{
    font-size: 30px;
    text-align: center;
    padding: 20px;
    font-style: italic;
}